root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
ij_kotlin_packages_to_use_import_on_demand = unset
ktlint_code_style = android_studio
max_line_length = 120

ktlint_function_naming_ignore_when_annotated_with = Composable, Test

[*.{xml,yml,yaml,json}]
indent_size = 2


trim_trailing_whitespace = false