
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar


*.iml
.idea/
.cxx/
.externalNativeBuild/


local.properties

*.apk
*.aab
*.ap_
*.dex
captures/
output.json


*.jks
*.keystore
keystore.properties
secrets.properties


.DS_Store
Thumbs.db